alembic==1.15.1
attrs==25.3.0
Automat==24.8.1
betterpath==0.2.2
blinker==1.9.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
constantly==23.10.4
cryptography==44.0.2
cssselect==1.3.0
defusedxml==0.7.1
dnspython==2.7.0
email_validator==2.2.0
filelock==3.18.0
Flask==3.1.0
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
itemadapter==0.11.0
itemloaders==1.3.2
itsdangerous==2.2.0
Jinja2==3.1.5
jmespath==1.0.1
l==0.11.0
lxml==5.3.1
Mako==1.3.9
MarkupSafe==3.0.2
packaging==24.2
parsel==1.10.0
Protego==0.4.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
PyDispatcher==2.0.7
pyOpenSSL==25.0.0
queuelib==1.8.0
requests==2.32.3
requests-file==2.1.0
service-identity==24.2.0
setuptools==80.3.1
SQLAlchemy==2.0.39
tldextract==5.1.3
Twisted==24.11.0
typing_extensions==4.12.2
urllib3==2.3.0
vcversioner==2.16.0.0
w3lib==2.3.1
Werkzeug==3.1.3
WTForms==3.2.1
zope.interface==7.2
